

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html, body {
    margin:0;
    padding:0;
}

#page1, #page2, #page3, #page4, #page5, #page6 {
    min-height: 1200px;
}

#page1{
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    ) , url("../img/star-wars-collage-final-republic-backgrounds-old.jpg");
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;

}

#page2 {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    ), url("../img/forceUnchained.jpg");
    background-size: cover;
    overflow: hidden;
}
#page3{
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    ), url("../img/malgus.jpg");
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;

}
#page4{
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    ), url("../img/SWTOR_BountySneak.jpg");
    background-size: cover;
    overflow: hidden;
}
#page5{
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    ), url("../img/mandoGirl.jpeg");
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}
#page6{
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    ), url("../img/trooper.jpg");
    background-size: cover;
    overflow:hidden;
}
/*page Title and blur bar at foot of page*/

#page1 > header {
    font-family: 'Orbitron';
    color: white;
    font-size:600%;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px 10px;
    background: inherit;
    background-attachment: fixed;
    overflow: hidden;
}

#page1 > header::before {
    content: "";
    position: absolute;
    top: -20px;
    left: 0;
    width: 200%;
    height: 200%;
    background: inherit;
    background-attachment: fixed;
    -webkit-filter: blur(4px);
    filter: blur(4px);
}

#page1  > header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25)
}

#page1 > header > p {
    margin: 0;
    color: white;
    position: relative;
    z-index: 1;
}

* {
    box-sizing: border-box;
}

#page2{
    position: relative;
}

#page2 > article{
    position: absolute;
    height:180px;
    width:700px;
    top:50%;
    left:50%;
    margin: -90px 0 0 -350px;
}

#page2 > article > p {
    font-family: 'Orbitron';
    font-size:20px;
    color: ghostwhite;
}

#page3{
    position:relative;
}

#page3 > header{
    position: absolute;
    height:400px;
    width:600px;
    top:50%;
    left:50%;
    margin: -200px 0 0 -300px;
}

#page3 > header > p{
    font-family: 'Orbitron';
    font-size:20px;
    color: ghostwhite;
}

#page4{
    position:relative;
}

#page4 > header{
    position: absolute;
    height: 100px;
    width:600px;
    top:50%;
    left:50%;
    margin:-50px 0 0 -300px;
}

#page4 >header > article > p{
    font-family:'Orbitron';
    font-size:20px;
    color: whitesmoke;
}

span{
    font-size:40px;
}







